<%= provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'shared/light_section_header', { section_title: @taxon.name, taxon: @taxon } %>
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render 'shared/left_sidebar', taxonomeis: @taxonomeis %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <%= render 'shared/sort_dropdown' %>
            <%= render 'shared/grid_and_list' %>
          </div>
          <div class="row">
            <% @products.each do |product| %>
              <%= link_to potepan_product_path(product.id) do %>
              <div class="col-sm-4 col-xs-12">
                <div class="productBox">
                  <div class="productImage clearfix">
                    <%= image_tag product.display_image.attachment(:product), alt: "#{product.name}-img" %>
                  </div>
                  <div class="productCaption clearfix">
                    <h5 class="product-name"><%= product.name %></h5>
                    <h3 class="product-price"><%= product.display_price %></h3>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'shared/light_section_footer' %>
</div>
