<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= section_title %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "home", potepan_path, id: "home-link-light_section" %>
          </li>
          <% if taxon %>
          <li>
            <%= link_to "shop", "#" %>
          </li>
          <% end %>
          <li class="active">
            <%= section_title %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
